@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
*{
  box-sizing: border-box;
}
body {
  background-color: rgb(18, 18, 18); ;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;

}
.navbar {
  height: 14vh;
  background-color: #18181c;
  
}

.navbar-brand{
  display: flex;
  gap: 5px;
  background: linear-gradient(to right, #57b7b1,rgb(80, 253, 0));
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
}

.navbar-brand:hover, .navbar-brand:focus{
  color: white;
}
.botones-nav li{
  margin-right: 20px;
  border-radius: 5px;
}
.botones-nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5em;
  margin: 0 10px;
}
.bton-populares:hover a {
  color: rgb(80, 253, 0);
}
.bton-registrate:hover a {
  color: rgb(80, 253, 0);
}
.bton-iniciar-sesión{
  background-color: rgb(80, 253, 0);
}
.bton-iniciar-sesión:hover {
  background-color: black;
  color:rgb(80, 253, 0);
  border:rgb(80, 253, 0) 1px solid
}
.bton-iniciar-sesión:hover a{
  color:rgb(80, 253, 0);
  
}
.bton-iniciar-sesión a{
  color: black;
}
.header{
  position: sticky;
  top: 0px;
  background-color: #18181c;
  z-index:1;
}
hr {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  border: 1.5px solid rgb(80, 253, 0);
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.fondo-section-principal{
  background-image: url("https://images.unsplash.com/photo-1612287230202-1ff1d85d1bdf?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position-y:20%;
  height: 70vh;
  width: 100%;
  opacity: 0.7;
  
}
.contenido-section-principal{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-principal{
  margin-top: 50px;
  animation: principal 1s ease 1;
}
@keyframes principal {
  from{
    transform: scale(0.5);
    opacity: 0.6;
  }
  to{
    transform: scale(1);
  }
}
.text{
  font-size: x-large;
}
.section-principal button{
  padding: 5px;
  border-radius: 10px;
  width:150px;
  height: 50px;
  background-color: rgb(80, 253, 0);
  border: transparent;
}
.section-principal button:hover{
  transform: scale(0.95);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.877);
}
.section-buscador{
  text-align: center;
  height: 45vh;
  gap: 25px;
}
.section-buscador form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.section-buscador input{
  border-radius: 1em;
  width: 30vw;
  height: 45px;
}
.section-buscador button{
  width: 100px;
  height: 45px;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(80, 253, 0);
}
.section-buscador button:hover{
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.877);
}
.section-populares{
  margin-top: 2em;
}
.subtitulo-populares{
  margin-bottom: 1em;
}
.nav-link{
  margin: 0 10px;
}
.card{
  margin: 20px;
  min-width: 200px;
  border: none;
  background-color:transparent;
  transition: all 0.2s linear;
  border-radius: 1em;
}
.card a{
  position: relative;
}
.card img {
  border-radius: 1em;
  
}
.card:hover .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  backdrop-filter:blur(10px) grayscale(50%);
  height: 100%;
  border-radius: 1em;
}
.card-populares:hover{
  box-shadow: 1px 1px 25px 1px rgba(80, 253, 0, 0.514);
}

.card-body {
  display: none;
  position: absolute;
  text-align: center;
  top:0%;
  width: 100%;
}
.boton-anterior, .boton-siguiente {
  margin: 4em 1em;
  background-color:rgb(80, 253, 0);
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: transparent;
}
.boton-anterior:hover, .boton-siguiente:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.877);
}

.section-mas-jugados {
  margin-left: 150px;
  margin-right: 150px;
}
.mas-jugados{
  display: flex;
  overflow-x: scroll;
  width: 100%;
  margin-bottom: 3em;
}
.mas-jugados div{
  margin: 2em;
}
.section-mas-jugados h2{
  margin-top: 1em;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: green;
}
::-webkit-scrollbar-track{
  background: black;
}
.footer-items a{
  color: white;
}
.footer-items a:hover{
  color: rgb(80, 253, 0);
}



.fondo-paginas{
  background-image: url("https://img.freepik.com/vector-gratis/fondo-rosa-neon_53876-91656.jpg?w=740&t=st=1714491794~exp=1714492394~hmac=3f40d90ba127771003a4012918ba1da788f092229e6fe3a307d3b6776557522c");
  background-size: cover;
  height: 100vh;
  margin: 0px;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  
}
.header-brand{
  display: flex;
}
.section-iniciar-sesion{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}
.logo{
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
}
.logo h3 {
  font-weight: 500;
  margin: 18px 0;
}
.form-inicio-sesion{
  padding: 60px;
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color:  #18181c;

}
.form-inicio-sesion h1{
  font-size: 2.5rem;
  font-weight: 100;
}
input:not(.boton, .check, .input-buscador), select{
  width: 100%;
  height: 40px;
  padding: 0px 20px;
  font-size: 1.2rem;
  border-radius: 20px;
  border: 2px solid rgb(80, 253, 0);
  background-color: #333333;
  outline: none;
  color: rgb(255, 255, 255);
}
.form-inicio-sesion div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-inicio-sesion small {
  padding-left: 10px;
  color: red;
}

.boton{
  width: 100%;
  background-color: rgb(80, 253, 0);
  border: 2px solid rgb(80, 253, 0);
  color: black;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 550;
  margin: 10px 0;
}
#ayuda{
  text-decoration: none;
  color: rgb(100, 100, 100);
}
#ayuda:hover{
  color: rgb(139, 138, 138);
}


.main-registro {
  display: flex;
  justify-content: center;
}
.form-registro h1{
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0px 0 30px 0;
}
.form-registro div{
  margin-bottom: 20px;
  width: 100%;
}
.form-registro small {
  padding-left: 10px;
  color: red;
}
.section-registro{
  width: 30%;
  background-color:  #18181c;
  padding: 30px;
  margin-bottom: 20px;
}
.form-registro{
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.form-registro label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 5px;
}



/*DETALLE*/

.container-detalle{
  padding-top: 40px;
  width: 68%;
}
.principal {
  display: flex;
  flex-direction: column;
}
.div-visual{
  display: flex;
  gap: 90px;
  align-items: center;
}
iframe{
  height: 340px;
  width: 600px;
  
}
.img-detalle img{
  width: 200px;
}
.img-detalle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descripcion {
  margin-top: 20px;
}
.container-requisitos{
  width: 68%;
}
.container-requisitos h2{
  margin: 50px 0 30px 0;
}
.div-requisitos{
  width: 80%;
  background-color: rgba(95, 94, 94, 0.116);
  padding: 60px 100px;
  margin: 0 0 30px 0;
}
.col-requisitos{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.span-subtitulos{
  color: rgba(255, 255, 255, 0.493);
}



